<ul>
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Servicos")">Serviços</a></li>
    <li><a href="@Url.Action("Index", "Sobre")">Sobre</a></li>
    <li><a href="@Url.Action("Index", "Planos")">Planos</a></li>
    <li><a href="@Url.Action("Index", "Contato")">Contato</a></li>
</ul>